
.Collapse {
    background: #FF6060;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 5px 0px 10px 0px
}

.CollapseHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

.Collapse img {
    width: 70%;
    height: 15px;
    color: white;
    margin: 25px 10px 0 0;
}

.Collapse h1 {
    color: white;
    font-size: 24px;
}

.CollapseContent {
    background-color: #F6F6F6;
}

.CollapseHidden {
    display: none;
}

@media screen and (max-width: 870px) {

    
}