
.Collapse {
    background: #FF6060;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.CollapseHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0px 20px 0 15px;
    margin: 10px 0px 10px 0px; */

}

.Collapse img {
    width: 1%;
    height: 10px;
    /* padding: 20px 0 0px 0px; */
}

.Collapse h1 {
    color: white;
    font-size: 24px;
}

.CollapseContent {
    background-color: #F6F6F6;
}

.CollapseHidden {
    display: none;
}

@media screen and (max-width: 870px) {

    
}