
.Collapse {
    background: #FF6060;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0px 0 25px 0;
}

.CollapseHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

.Collapse img {
    width: 70%;
    height: 15px;
    color: white;
    margin: 25px 10px 0 0;
}

.Collapse h1 {
    font-family: 'montserrat';
    font-style: normal;
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-left: 15px;
}

.Collapse ul{
    color: #FF6060;
    list-style: none;
}

.CollapseContent {
    background-color: #F6F6F6;
}

.CollapseHidden {
    display: none;
}

.maClasseQuiAfficheLaFlecheHaut {
    background-image: url("../Assets/Images/arrowUp.png");
    display: block;
    height: 15px;
    width: 24px;
    margin-top: 15px;
}

.maClasseQuiAfficheLaFlecheBas {
    background-image: url("../Assets/Images/arrowDown.png");
    display: block;
    height: 14px;
    width: 24px;
    margin-top: 15px;
}

@media screen and (max-width: 870px) {

    .Collapse {
        margin: 5px -43px 10px -25px;
    }
}