
.containerAutor {
    text-align: right;
    color: #FF6060;
}

.containerAutor h1 {
    /* width: 93px; */
    height: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 75px;
    margin-bottom: -60px;
}

.containerAutor img{
    border-radius: 70px;
    height: 64px;
}

.containerTitle {
    color: #FF6060;
    font-size: 20px;
    margin: -50px 0 10px 0;
}

.containerLocation {
    color: #FF6060;
}

.containerRating {
    text-align: right;
}

.containerTag {
    display: flex;
    margin-left: -10px;
    margin-top: 20px;
}

.containerCollapseFiche {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 0 0 0px;;
    margin: 0;
    width: 100%;
}

.collapseCol {
    width: 45%;
    color: #FF6060;
    list-style: none;
}

@media screen and (max-width: 870px) {

    .containerAutor {
        position: absolute;
        right: 10%;
        bottom: 12%;
        font-family: 'Montserrat';
        font-weight: 500;
        display: flex;
        align-items: flex-end;
        margin-bottom: -17px;
    }

    .containerAutor h1 {
        width: 93px;
        height: 52px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142%;
        display: flex;
        align-items: flex-end;
        text-align: right;
        padding-right: 3px;
        margin-bottom: -10px;
    }
    
    .containerAutor img{
        border-radius: 70px;
        height: 64px;
        margin-bottom: -15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .containerTitle {
        margin: 12px 0 10px 0;
    }

    .containerLocation {
        margin-top: 15px;
    }

    .containerRating {
        margin: 25px 195px 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .containerTag {
        margin-top: 16px;
    }

    .containerCollapseFiche {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .collapseCol {
        width: 100%;
    }

}