
.containerAutor {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: #FF6060;
}

.containerAutor p {
    height: 65px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    line-height: 142%;
    text-align: right;
}

.containerAutor img {
    border-radius: 70px;
    height: 64px;
    margin-left: 20px;
}

.containerTitle {
    font-family: 'montserrat';
    font-weight: 600;
    color: #FF6060;
    font-size: 20px;
    margin: -50px 0 10px 0;
}

.containerLocation {
    font-family: 'montserrat';
    font-style: normal;
    color: #FF6060;
}

.containerRating {
    text-align: right;
    margin-top: 20px;
}

.containerTag {
    display: flex;
    margin-left: -10px;
    margin-top: 20px;
}

.containerCollapseFiche {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 0 0 0px;;
    margin: 0;
    width: 100%;
}

.collapseCol {
    width: 45%;
    color: #FF6060;
    list-style: none;
}

.container-cols{
    display: flex;
    margin-top: -25px;
    margin-bottom: 15px;
}

.col-gauche {
    width: 50%;
    margin: 51px 0 0 0;
}

.col-droite {
    width: 50%;
    margin: 0;
}

@media screen and (max-width: 870px) {
    
    .container-cols {
        flex-direction: column;
        margin: 0;
    }
    .col-gauche{
        margin: 0;
        width: 100%;
    }

    .col-droite{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    .containerAutor {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        height: 70px;
        margin: 0;
        padding: 0;
    }
    .containerRating {
        width: 50%;
        height: 70px;
        text-align: center;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .containerAutor p {
        height: auto;
        line-height: 1em;
        text-align: right;
        padding: 0px 0 0 0;
        margin: 0 0 0 0;
        display: block;
        font-size: 14px;
    }
    
    .containerAutor img{
        border-radius: 70px;
        height: 50px;
        margin-left: 10px;
    }

    .containerTitle {
        margin: 0 0 20px 0;
        font-size: 16px;
        position: relative;
        top: 8px;
    }

    .containerLocation {
        margin: 0 0 10px 0;
        font-size: 15px;
    }

    .containerTag {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
        position: relative;
        right: 10px;
    }

    .containerCollapseFiche {
        /* padding: 0 0 0 15px; */
        margin: 0 60px 0 15px;
        width: auto;
        /* créer un meddiaquery intermediaire pour ajuster la longueur */
        display: flex;
        flex-direction: column;
    }

    .collapseCol {
        width: 100%;
        margin: 0 0px 0 10px;
    }
}
