
.containerAutor {
    text-align: right;
    color: #FF6060;
}

.containerTitle {
    color: #FF6060;
    font-weight: bold;
    font-size: 20px;
}

.containerLocation {
    color: #FF6060;
}

.containerRating {
    text-align: right;
}

.containerTag {
    display: flex;
    margin-left: -10px;
}

.containerCollapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
}

.collapseCol {
    width: 45%;
    color: #FF6060;
    list-style: none;
}