
.FooterContainer {
    background-color: black;
}

.FooterContainer img {
    color: white;
    margin: 30px 0px 0px 640px;
    padding-top: 20px;
}

.FooterContainer h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    padding-bottom: 15px;
}

@media screen and (max-width: 870px) {

    
}