
.FooterContainer {
    background-color: black;
    padding-bottom: 1px;
}

.FooterContainer img {
    color: white;
    padding-top: 25px;
    display: block;
    max-width: 100%;
    margin: auto;
    height: auto;
}

.FooterContainer h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    padding-bottom: 15px;
}

@media screen and (max-width: 870px) {

    .FooterContainer {
        width: 100%;
    }

    .FooterContainer img {
        margin: 0px 0px 0 131px;
        padding: 15px 0 0 0;
        width: 24%;
    }

    .FooterContainer h1 {
        font-size: 12px;
    }

}