
.NavContainer {
    height: 68px;
    top: 40px;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavContainer img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: -20px;
}

.NavMenu {
    width:20%;
}

.NavContainer ul {
    display: -webkit-inline-box;
}

.NavContainer ul li {
    list-style: none;
    width:100px;
}

.NavContainer ul li a {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #FF6060;
    text-decoration: none;
}

/* .NavContainer ul li a:hover {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #FF6060;
    text-decoration-line: underline;
} */

@media screen and (max-width: 870px) {

    .NavContainer {
        width: 60%;
    }

    .NavContainer img{
        width: 100%;
        height: 40px;
    }

    .NavMenu {
        width: 60%;
        margin-left: -7px;
    }

    .NavContainer ul li {
        margin: -25px -50px 0px 20px;
    }

    .NavContainer ul li a {
        font-size: 13px;
        text-transform: uppercase;
    }
    
}
.active {
    color:aqua;
    background-color: black;
}