
.NavContainer{
    height: 68px;
    top: 40px;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavContainer img{
    width: 13%;
    height: 68px;
}

.NavMenu {
    width:20%;
}

.NavContainer ul{
   display: flex;
}

.NavContainer ul li {
    list-style: none;
    width:100px;
}

.NavContainer ul li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}

@media screen and (max-width: 870px) {

    .NavContainer img{
        width: 145px;
        height: 47px;
    }

    .NavMenu {
        width: 60%;
        margin-left: 10px;
    }

    .NavContainer ul li a {
        font-size: 12px;
    }
    
}